* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: contain;
}

.porti-tekst {
  margin: 40px;
}
.fronttekst {
  margin: 60px;
}

img.bordi {
  max-width: 100%;
  max-height: 100%;
  display: grid;
}

img.frontphoto {
  max-width: 500px;
  max-height: 700px;

  object-fit: cover;
}

img.myself {
  max-width: 500px;
  max-height: 700px;
  margin: 50px;
}

img.tema2 {
  max-width: 700px;
  max-height: 700px;
  object-fit: cover;
}

img.tema3 {
  max-width: 700px;
  max-height: 700px;
  object-fit: cover;
}

img.tema4 {
  max-width: 700px;
  max-height: 700px;
  object-fit: cover;
}

img.tema5 {
  max-width: 700px;
  max-height: 700px;
  object-fit: cover;
}

.container {
  position: relative;
  display: inline-block;
}

.container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container,
h1 {
  position: absolute;
  top: 55%;
  left: 28%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
}

@media (max-width: 800px) {
  .container,
  h1 {
    font-size: 1.5em;

    width: 60‰;
  }
}

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
