@media (min-width: 800px) {
  ul {
    display: flex;
    width: 80px;
    padding: 50px;

    cursor: pointer;
    list-style-type: none;
    gap: 150px;
    object-fit: contain;
  }
}

a {
  font-family: lust, serif;
  font-style: normal;
  font-weight: 700;
  color: #d91e41;
  text-decoration: none;
}

.fronttekst,
h4 {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  color: #d91e41;
  line-height: 1.4;
}

.omtekst,
p {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  color: #d91e41;
  line-height: 1.6;
}

.omtekst {
  margin: 60px;
}

.portitekst,
h1 {
  font-family: lust, serif;
  font-style: normal;
  font-weight: 700;
  color: #d91e41;
  font-size: 40px;
}

h1 {
  font-family: lust, serif;
  font-style: normal;
  font-weight: 700;
  color: #d91e41;
  font-size: 40px;
}

h2 {
  font-family: lust, serif;
  font-style: normal;
  font-weight: 700;
  color: #d91e41;
  font-size: 35px;
  text-align: center;
}

header {
  background-color: #f9e9e5;
}

.logo {
  font-size: 35px;

  padding: 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9e9e5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #f9c8cb;
}

.dropdown-content a {
  color: #d91e41;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

body {
  background-color: #fff8f3;
}

.portlink,
.cvlink {
  text-decoration: none;
  color: #d91e41;
  font-size: 20px;
  font-family: lust, serif;
  font-style: normal;
  font-weight: 700;
}

.portbtn,
.cvbtn {
  display: flex;
  align-items: center;
  background-color: #f9c8cb;

  padding: 10px 20px;
  border: 2px solid #d91e41;
  border-radius: 8px;
  width: fit-content;
  text-decoration: none;
  position: absolute;
  top: 120%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.portbtn a:hover {
  text-decoration: underline;
}

a:hover {
  background-color: #f9c8cb;
}

h5 {
  font-family: lust, serif;
  font-style: normal;
  font-weight: 700;
  color: #d91e41;
  font-size: 12px;
}
footer {
  height: 50px;
  margin: 30px;
}
